.newsmedia {
  margin: 0 0 70px 0;

  @media (max-width: $md2+px) {
    margin: 0 0 40px 0;
  }

  @media (max-width: $md3+px) {
    margin: 0 0 205px 0;
  }

  &__header {}

  &__body {}

  &__item {}
}

.header-newsmedia {
  @include flexbox();
  justify-content: space-between;
  align-items: center;
  margin: 0 0 40px 0;

  @media (max-width: $md3+px) {
    display: block;
    margin: 0 0 20px 0;
  }

  &__title {

    @media (max-width: $md3+px) {
      margin: 0 0 20px 0;
    }
  }

  &__nav {}
}

.nav-newsmedia {
  @include flexbox();

  &__item {
    color: #d3cfce;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 16px;
    text-transform: uppercase;
    margin: 0 0 0 100px;
    cursor: pointer;

    &:active {
      color: #007397;
    }

    @media (max-width: $md2+px) {
      margin: 0 0 0 50px;
    }

    @media (max-width: $md3+px) {
      margin: 0 0 10px 0;
    }
  }

  @media (max-width: $md3+px) {
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.item-newsmedia {
  @include flexbox();
  margin: 0 -15px;

  &__column {
    flex: 0 0 33.333%;
    padding: 0 15px;
    margin: 0 0 30px 0;

    @media (max-width: $md1+px) {
      padding: 0 10px;
    }

    @media (max-width: $md2+px) {
      flex: 0 0 50%;
    }

    @media (max-width: 630px) {
      flex: 1 1 100%;
    }
  }

  @media (max-width: $md1+px) {
    margin: 0 -10px;
  }

  @media (max-width: $md2+px) {
    flex-wrap: wrap;
  }

  &__content {}
}

.content-newsmedia {
  @include flexbox();
  flex-direction: column;
  height: 100%;

  @media (max-width: 630px) {
    max-width: 300px;
    margin: 0 auto;
  }

  &__header {}

  &__text {
    flex: 1 1 auto;
    color: #646667;
    font-size: 16px;
    line-height: 32px;
    padding: 28px 0;
  }

  &__more {
    color: #007397;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 16px;
    text-transform: uppercase;

    &:hover {
      text-decoration: underline;
    }
  }
}

.header-contentnewsmedia {
  height: 370px;
  position: relative;

  &__content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    padding: 25px 30px;

    @media (max-width: $md1+px) {
      padding: 25px 20px;
    }
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    &.bluebg {

      &:after {
        width: 98%;
      }
    }
  }
}

.content-newsmediavalues {

  &__category {
    font-size: 12px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.75px;

    &:hover {
      text-decoration: underline;
    }
  }

  &__title {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 32px;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0 30px 70px 30px;

    &:hover {
      text-decoration: underline;
    }

    @media (max-width: $md1+px) {
      font-size: 18px;
      line-height: 24px;
      padding: 0 20px 50px 20px;
    }
  }
}