/*------------------------------ <COUNTRY> ------------------------------*/
.country {

  &__title {
    margin: 0 0 40px 0;

    @media (max-width: $md3+px) {
      margin: 0 0 25px 0;
    }
  }

  &__map {

    /*------------------------------ <For js> ------------------------------
    height: 448px;
    ------------------------------ </For js> ------------------------------*/

    /*------------------------------ <For not js> ------------------------------*/
    img {
      max-width: 100%;
    }
    /*------------------------------ </For not js> ------------------------------*/
  }
}
/*------------------------------ </COUNTRY> ------------------------------*/